<li id="comprovante_<%= comprovante.id %>">
  <div class="collapsible-header p-l-0">
    <div class="collapsible-itens p-l-15">
      <ul>
        <li class="left m-w-8">
          <%= check_box_tag "comprovante_id#{comprovante.id}", comprovante.id, false, name: 'comprovante_ids[]', class: 'filled-in', form:"imprime_recibos" %>
          <%= label_tag "comprovante_id#{comprovante.id}", '‌‌ ' %>
        </li>
        <li class="left m-w-8"><%=l comprovante.data %></li>
        <li class="left m-w-25"><%= comprovante.nome %></li>
        <li class="left"><%= comprovante.descricao_tratada %></li>
        <li class="right"><%= comprovante.valor.format %></li>
      </ul>
    </div>
  </div>

  <div class="collapsible-body">
    <%= render 'form', comprovante: comprovante %>
  </div>
</li>
