<li id="comprovante_<%= comprovante.id %>" class="m-b-10">
  <div class="collapsible-header p-l-0">
    <div class="collapsible-itens p-l-15">
      <ul>
        <li class="left m-w-8"><%=l comprovante.data %></li>
        <li class="left m-w-25"><%= comprovante.nome %></li>
        <li class="left"><%= comprovante.descricao_tratada %></li>
        <li class="right"><%= comprovante.valor.format %></li>
      </ul>
    </div>
  </div>

  <div class="collapsible-body">
    <%= render 'form', comprovante: comprovante %>
  </div>
</li>
