<% if comprovante.errors.any? %>
  <% comprovante.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= form_for comprovante, remote: true, class: "col s12" do |f| %>
  <div class="modal-content">
    <div class="p-20">
      <div class="row card-content m-b-0 p-b-0 p-l-30 p-r-30">
        <!-- <span class="card-title">Comprovante</span> -->
        <div class="row">

          <div class="input-field col s12 m3">
            <%= f.select :imagem_id, @imagens.collect {|imagem| [(imagem.nome), imagem.id]} %>
            <%= f.label :imagem_id %>
          </div>

          <div class="input-field col s12 m5">
            <%= f.text_field :nome %>
            <%= f.label 'Recebemos de', class: "active"%>
          </div>

          <div class="input-field col s12 m4">
            <%= f.text_field :valor, onClick:"this.select();" %>
            <%= f.label 'A importância de', class: "active" %>
          </div>

          <div class="input-field col s12">
            <%= f.text_area :descricao, class: 'materialize-textarea' %>
            <%= f.label 'Proveniente de', class: "active"%>
          </div>

          <div class="input-field col s12 m3">
            <%= f.text_field :cidade %>
            <%= f.label :cidade, class: "active" %>
          </div>
          <div class="input-field col s12 m3">
            <%= f.date_field :data, type: "date" %>
            <%= f.label :data, class: "active" %>
          </div>

          <div class="input-field col s12 m2">
            <%= f.text_field :cpf %>
            <%= f.label :cpf, class: "active" %>
          </div>

          <div class="input-field col s12 m2">
            <%= f.text_field :rg %>
            <%= f.label :rg, class: "active" %>
          </div>

          <div class="input-field col s12 m2">
            <%= f.text_field :assinatura %>
            <%= f.label :assinatura, class: "active" %>
          </div>


        </div>
      </div>
      <div class="card-action">
        <%= button_tag "Salvar", class:"btn waves-effect waves-light" %>
        <%= button_tag "Cancelar", class:"btn-flat waves-effect waves-light btn-cancelar", type: :reset %>

        <% if !comprovante.new_record? %>
          <%= link_to "Excluir", comprovante_path(comprovante), method: 'delete', remote: true, class: 'btn red darken-3 waves-effect waves-light', remote:true,
                data: { confirm: t('.confirm', :default => t("helpers.links.confirm", default: 'Confirmar a exclusão?')) } %>
        <% end %>
      </div>
    </div>

  </div>


<% end %>
