<div class="row">

  <div class="valign-wrapper">
    <div class="col s6 valign">
      <h1>Usuários</h1>
    </div>
    <div class="col s6 valign right-align">
      <%= link_to 'Novo', new_usuario_registration_path %>
    </div>
  </div>
</div>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td> <%= usuario.username %> </td>
        <td> <%= usuario.email %> </td>
        <td> <%= usuario.admin %> </td>
        <td>
          <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_usuario_path(usuario) %>
          <%= link_to '<i class="material-icons">delete</i>'.html_safe, usuario, method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
        <!-- <td><%#= link_to 'Show', usuario %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_usuario_path(usuario) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
